<% include head.ejs %>
<% include nav.ejs %>


<div class="container">

    <ol class="breadcrumb">
        <% pathArray.forEach(function(p){ %>
        <li>
            <a href="<%- p.link %>">
                <%- p.name %>
            </a>
        </li>
        <% }) %>
    </ol>

    <% if (locals.signedInUser) { %>
    <a href="?createFolder" class="btn btn-default"><i class="fa fa-plus-square"></i> Create Folder Here</a>
    <a href="?upload" class="btn btn-default"><i class="fa fa-plus-circle"></i> Upload File Here</a>
    <% } %>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Last Modified</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <% if(!atRoot){ %>
            <tr>
                <td><i class="fa fa-ellipsis-h"></i></td>
                <td>
                    <a href="<%- parentDir %>">Parent Directory</a>
                </td>
            </tr>

            <% } %>

            <% files.forEach(function(file){ %>
            <tr>
                <td>
                    <% if (file.isDir) { %>
                    <i class="fa fa-folder"></i>
                    <% } else { %>
                    <i class="fa fa-file-o"></i>
                    <% } %>
                </td>
                <td><a href="<%- file.path %>"> <%- file.name %></a></td>
                <td><%- file.mtime %></td>
                <td><%- file.size %></td>
            </tr>
            <% }) %>

            </tbody>
        </table>
    </div>


</div>

<% include foot.ejs %>